<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
   <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:beans.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  
  
  
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
            com.zhang.VerifyLogin.LoginServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>
            com.zhang.booking.BookingServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InquireServlet</servlet-name>
    <servlet-class>
            com.zhang.booking.InquireServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HistoryServlet</servlet-name>
    <servlet-class>
            com.zhang.HistoryRetrieval.HistoryServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>
            com.zhang.file.FileUploadServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewRoomServlet</servlet-name>
    <servlet-class>
            com.zhang.NewRoom.NewRoomServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AvailableTimeServlet</servlet-name>
    <servlet-class>
            com.zhang.booking.AvailableTimeServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileDownloadServlet</servlet-name>
    <servlet-class>
            com.zhang.file.FileDownloadServlet
        </servlet-class>
  </servlet>
  
  
  <servlet>
    <servlet-name>FileDeleteServlet</servlet-name>
    <servlet-class>
            com.zhang.file.FileDeleteServlet
        </servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>GetRoomInfoServlet</servlet-name>
    <servlet-class>
            com.zhang.booking.GetRoomInfoServlet
        </servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RoomInfoServlet</servlet-name>
    <servlet-class>
            com.zhang.NewRoom.RoomInfoServlet
        </servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <servlet-class>
            com.zhang.booking.DeleteBookingServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InquireServlet</servlet-name>
    <url-pattern>/InquireServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HistoryServlet</servlet-name>
    <url-pattern>/HistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewRoomServlet</servlet-name>
    <url-pattern>/NewRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AvailableTimeServlet</servlet-name>
    <url-pattern>/AvailableTimeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownloadServlet</servlet-name>
    <url-pattern>/FileDownloadServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>FileDeleteServlet</servlet-name>
    <url-pattern>/FileDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetRoomInfoServlet</servlet-name>
    <url-pattern>/GetRoomInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RoomInfoServlet</servlet-name>
    <url-pattern>/RoomInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteBookingServlet</servlet-name>
    <url-pattern>/DeleteBookingServlet</url-pattern>
  </servlet-mapping>
</web-app>